{tmpl_var_raw EditableContent}

<p>
<h6>New Members</h6>
	If you would like to access the members area without purchasing, you may 
	<a href="{tmpl_var BackURL}/Service/New/BackURL/{tmpl_var BackURL}">create a {tmpl_var Type} member account.</a>
</p>
<br />
<p>
	To enter the members area, please enter the email address and password used when making your purchase.  
	If you did not enter a password, please leave the password field blank. 
	Be aware that a blank password will severely restrict functionality of your account.
</p>

{tmpl_var_raw LoginForm}
