<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>Bjorck Bros Invoice</title></head>
<body style="width: 780px;">
<img style="width: 777px; height: 36px;" alt="" src="http://www.acmeexpress.com/images/bb_top.jpg"><br>
<table style="width: 80%; text-align: left; margin-left: auto; margin-right: auto;" border="0" cellpadding="2" cellspacing="2">
<tbody>
<tr>
<td>{tmpl_var siv_created_date}<br>
Internet Consulting and Management</td>
<td style="text-align: right;"><img style="width: 180px; height: 127px;" alt="" src="http://www.acmeexpress.com/images/bb_logo.jpg"></td>
</tr>
<tr>
<td>{tmpl_var SiCoNameTo}<br>
{tmpl_var Add2}<br>
{tmpl_var Add3}<br>
{tmpl_var Add4}<br>
{tmpl_var Add5}<br>
{tmpl_var Add6}<br>
{tmpl_var Add7}<br>
</td>
<td style="font-weight: bold; text-align: right;">
<h1>Invoice</h1>
</td>
</tr>
<tr>
<td>{tmpl_var Amount}<br>
{tmpl_var due_date}</td>
<td style="text-align: right;">Bjorck Bros
Ltd.<br>Andres Perdomo s/n<br>Edificio Zona Franca<br>Oficina M214<br>Las Palmas de Gran Canaria<br></td>
</tr>
</tbody>
</table>
<br>
<table style="width: 80%; text-align: left; margin-left: auto; margin-right: auto;" border="0" cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td colspan="2" rowspan="1" style="background-color: rgb(90, 190, 204);">Item</td>
<td style="background-color: rgb(90, 190, 204);">Hrs/Qty</td>
<td style="background-color: rgb(90, 190, 204);">Rate/Price</td>
<td style="background-color: rgb(90, 190, 204);">Taxes</td>
<td style="background-color: rgb(90, 190, 204);"><small><big>SubTotal</big></small></td>
</tr>
<tr>
<td colspan="2" rowspan="1" style="background-color: rgb(204, 255, 255);"><small>{tmpl_var siv_1_text}</small><br>
<small style="color: rgb(102, 102, 102);">{tmpl_var siv_1_created_date}</small></td>
<td style="background-color: rgb(204, 255, 255);"><small>{tmpl_var siv_1_hours}</small></td>
<td style="background-color: rgb(204, 255, 255);"><small>{tmpl_var rate1}</small></td>
<td style="background-color: rgb(204, 255, 255);"><small>{tmpl_var siv_1_tax}</small></td>
<td style="background-color: rgb(204, 255, 255);"><small>{tmpl_var siv_1_amount}</small></td>
</tr>
<tr>
<td colspan="2" rowspan="1" style="background-color: rgb(153, 209, 255);"><small>{tmpl_var siv_2_text}</small><br>
<small style="color: rgb(102, 102, 102);">{tmpl_var siv_2_created_date}</small></td>
<td style="background-color: rgb(153, 209, 255);"><small>{tmpl_var siv_2_hours}</small></td>
<td style="background-color: rgb(153, 209, 255);"><small>{tmpl_var rate2}</small></td>
<td style="background-color: rgb(153, 209, 255);"><small>{tmpl_var siv_2_tax}</small></td>
<td style="background-color: rgb(153, 209, 255);"><small>{tmpl_var siv_2_amount}</small></td>
</tr>
<tr>
<td colspan="2" rowspan="1" style="background-color: rgb(204, 255, 255);"><small>{tmpl_var siv_3_text}</small><br>
<small style="color: rgb(102, 102, 102);">{tmpl_var siv_3_created_date}</small></td>
<td style="background-color: rgb(204, 255, 255);"><small>{tmpl_var siv_3_hours}</small></td>
<td style="background-color: rgb(204, 255, 255);"><small>{tmpl_var rate3}</small></td>
<td style="background-color: rgb(204, 255, 255);"><small>{tmpl_var siv_3_tax}</small></td>
<td style="background-color: rgb(204, 255, 255);"><small>{tmpl_var siv_3_amount}</small></td>
</tr>
<tr>
<td colspan="2" rowspan="1" style="background-color: rgb(153, 209, 255);"><small>{tmpl_var siv_4_text}</small><br>
<small style="color: rgb(102, 102, 102);">{tmpl_var siv_4_created_date}</small></td>
<td style="background-color: rgb(153, 209, 255);"><small>{tmpl_var siv_4_hours}</small></td>
<td style="background-color: rgb(153, 209, 255);"><small>{tmpl_var rate4}</small></td>
<td style="background-color: rgb(153, 209, 255);"><small>{tmpl_var siv_4_tax}</small></td>
<td style="background-color: rgb(153, 209, 255);"><small>{tmpl_var siv_4_amount}</small></td>
</tr>
<tr>
<td colspan="2" rowspan="1" style="background-color: rgb(204, 255, 255);"><small>{tmpl_var siv_5_text}</small><br>
<small style="color: rgb(102, 102, 102);">{tmpl_var siv_5_created_date}</small></td>
<td style="background-color: rgb(204, 255, 255);"><small>{tmpl_var siv_5_hours}</small></td>
<td style="background-color: rgb(204, 255, 255);"><small>{tmpl_var rate5}</small></td>
<td style="background-color: rgb(204, 255, 255);"><small>{tmpl_var siv_5_tax}</small></td>
<td style="background-color: rgb(204, 255, 255);"><small>{tmpl_var siv_5_amount}</small></td>
</tr>
<tr>
<td colspan="2" rowspan="1" style="background-color: rgb(153, 209, 255);"><small>{tmpl_var siv_6_text}</small><br>
<small style="color: rgb(102, 102, 102);">{tmpl_var siv_6_created_date}</small></td>
<td style="background-color: rgb(153, 209, 255);"><small>{tmpl_var siv_6_hours}</small></td>
<td style="background-color: rgb(153, 209, 255);"><small>{tmpl_var rate6}</small></td>
<td style="background-color: rgb(153, 209, 255);"><small>{tmpl_var siv_6_tax}</small></td>
<td style="background-color: rgb(153, 209, 255);"><small>{tmpl_var siv_6_amount}</small></td>
</tr>
<tr>
<td style="background-color: rgb(204, 255, 255);"></td>
<td style="background-color: rgb(204, 255, 255);"></td>
<td style="background-color: rgb(204, 255, 255);"></td>
<td style="background-color: rgb(204, 255, 255);"></td>
<td style="background-color: rgb(204, 255, 255);">Total</td>
<td style="background-color: rgb(131, 199, 255);">{tmpl_var Amount}</td>
</tr>
<tr>
<td style="background-color: rgb(204, 255, 255);"></td>
<td style="background-color: rgb(204, 255, 255);"></td>
<td style="background-color: rgb(204, 255, 255);"></td>
<td style="background-color: rgb(204, 255, 255);"></td>
<td style="background-color: rgb(204, 255, 255);">Due
by {tmpl_var due_date}</td>
<td style="background-color: rgb(131, 199, 255);">{tmpl_var Amount}</td>
</tr>
</tbody>
</table>
<br>
<br>
<br>
<br>
<img style="width: 778px; height: 46px;" alt="" src="http://www.acmeexpress.com/images/bb_bottom.jpg"><br>
</body></html>
