<H3>About CVV2 Codes</h3>
<p>
A CVV2 (Card Verification Value 2) code is a security feature of your credit card.<BR>
It is an extra 3 or 4 digit number printed, but not raised, on your card.<BR>
By verifying the CVV2 code of your card, we can be sure you have the card in front of you.<BR>
This along with address (and zip code) verification (AVS) is used to prevent fraud.<BR>
To provide extra security, merchants do not store the CVV2 code.<BR>
Additionally, we provide a secure connection that encrypts your card information before it is transmitted to us over the Internet.
</p>
<p>
If you cannot find the code on your credit card as shown below, please contact your bank or credit card company for assistance.<BR>
If you are still unsuccessful, please contact us to have your credit card processed manually.
</p>

<h3>Finding the CVV2 Code on Your Credit Card</h3>
<p>
<b>Visa, MasterCard & Discover</b><BR>
The CVV2 code is 3 digits printed on Visa, MasterCard, and Discover cards in the signature panel on the back of the card.<BR>
It is the last 3 digits AFTER the credit card number.<BR> 
Sometimes only the last 4 digits of your credit card number will be printed before the CVV2 code instead of the entire credit card number.<BR>
</p>
<p>
<IMG border="0" src="Images/cvv2.jpg">
</p>