
<HTML>

<HEAD>

	

		<TITLE>Loading</TITLE>

		<LINK REL="STYLESHEET" TYPE="text/css" HREF="sty_admin.css">

		

	<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=<?=$GLOBALS['cfg']['Web_Charset']?>">

</HEAD>

<BODY CLASS="adminBackground" LEFTMARGIN="0" TOPMARGIN="0" MARGINWIDTH="0" MARGINHEIGHT="0">

<DIV ALIGN="CENTER">
	<P>&nbsp;</P>
	<P><FONT FACE="Verdana, Arial, Helv" COLOR="#808080" SIZE="1">loading</FONT><FONT FACE="Verdana, Arial, Helv" COLOR="#808080" SIZE="2"><BR>
		<IMG SRC="Images/throb.gif" WIDTH="114" HEIGHT="20">	<BR>
 </FONT></P>
</DIV>



</BODY>

</HTML>
