<HTML>
	<HEAD>
		<TITLE>{tmpl_var Subject}</TITLE>
		<STYLE type="text/css">
			body, table, .contenttext {
				font-family: Arial, Helvetica, sans-serif;
				font-size: 12px;
				color: #000000;
				text-decoration: none;
			}
			a {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #4A708A; text-decoration: underline}
			a:hover {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #5A574B; text-decoration: underline}
		</STYLE>						
	</HEAD>
	
	<BODY>
	{tmpl_var_raw HTMLContent}
	</BODY>		
</HTML>
