<p>
	To manage threads and messages in your forum, please browse the forum from the public part of the website.  Lock and Delete buttons will be present if you are logged in as an administrator.
</p>
<p>
	Please tick the user groups that will have administration privileges for this forum:
	{tmpl_fieldset_field fieldset="FieldSet" field="AST_FORUM_ADMIN_USERGROUPS"}	
</p>
<p>
	If you would like to allow guests to post to this forum, tick this box:
	{tmpl_fieldset_field fieldset="FieldSet" field="AST_FORUM_ALLOW_GUEST_POSTS"}	
</p>
