<p>Dear {TMPL_Var us_first_name},</p>
<p>You have requested that a password reminder be sent for your 
  user account at our web site, if you did not request this reminder do not worry 
  your password has only been sent to {TMPL_Var us_email}.</p>
  <p>
<tmpl_if_var_strlen name="us_password">
Your password is: {TMPL_Var us_password}
<tmpl_else>
You do not have a password configured for your account.  Please leave the password field blank when logging in.
</tmpl_if>
</p>

<p>
<u>Shopping Help</u><br />
<tmpl_if_var_strlen name="us_password">
When in the checkout, use the "Returning Customers" panel and enter your email address and password.  Then click continue.  Your details will appear in the "Billing Details" section.  
<br /><br />If you want to change your password, you can then change the values in the "Password" and "Verify Password" fields from the "Billing Details" section.
<tmpl_else>
When in the checkout, use the "Returning Customers" panel and just enter your email address - leave the password field blank.  Then click continue.  Your details will appear in the "Billing Details" section.  
<br /><br />We recommend that you then add a password into the "Password" and "Verify Password" fields from the "Billing Details" section so your account and points are safe.
</tmpl_if>
</p>