<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="sty_email.css" rel="stylesheet" type="text/css">
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="650" border="0" align="center" cellpadding="0" cellspacing="0" class="Border">
	<tr>
		<td><img src="Images/Banner-llama.jpg" alt="Llama Export.com" width="650" height="94"></td>
	</tr>
	<tr>
		<td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="15">
					<tr>
						<td><p class="textHeading">Automated t Receipt</p>
						    <p><span class="textSubHeading">Dear [P.Name],<br>
						   Thank you for your order. </span></p>
						<p>Your credit card details have been
						   stored securely	and will be deleted as soon as your order is shipped.						 </p>
						<p>The order number for this order is [75809]. <br>
						</p></td>
					</tr>
				</table></td>
				<td width="186" rowspan="2" align="right" valign="bottom"><img src="Images/swirl.gif" width="186" height="297"></td>
			</tr>
			<tr>
				<td valign="bottom"><table width="100%" border="0" cellspacing="0" cellpadding="10">
					<tr>
						<td><span class="textContact"><strong>Llama Export.com</strong><br>
						   Tel: + 34 607 182900, Fax: + 34 928 468656, Email
					us at </span><a href="mailto:info@cigarexport.com" class="textContact">info@cigarexport.com</a></td>
					</tr>
				</table></td>
			</tr>
		</table></td>
	</tr>
</table>
</body>
</html>
