<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<link rel="stylesheet" href="sty_email.css" type="text/css">
		<tmpl_var_raw name="ExtraStyleSheets">
	</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="650" border="0" align="center" cellpadding="0" cellspacing="0" class="Border">
	<tr>
		<td><img src="Images/Banner-llama.jpg" alt="Llama Export.com" width="650" height="94"></td>
	</tr>
	<tr>
		<td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="15">
					<tr>
						<td>{tmpl_var_raw Content}</td>
					</tr>
				</table></td>
				<td width="186" rowspan="2" align="right" valign="bottom"><img src="Images/swirl.gif" width="186" height="297"></td>
			</tr>
			<tr>
				<td valign="bottom"><table width="100%" border="0" cellspacing="0" cellpadding="10">
					<tr>
						<td><span class="textContact"><strong>Llama Export.com</strong><br>
						   Tel: + 34 607 182900, Fax: + 34 928 468656, </span><a href="Llama%20Export/Contact%20Us" class="textContact">Contact our support team</a></td>
					</tr>
				</table></td>
			</tr>
		</table></td>
	</tr>
</table>
</body>
</html>