<p>To create a new Media Release, please fill in the following details.</p>
										<table border="0" cellspacing="0" cellpadding="5">
											<tr align="left" valign="top">
												<td width="120"><p class="emailLink"><strong>Media Release Title</strong></p>
												</td>
												<td>{tmpl_fieldset_field fieldset="fieldSet" field="rel_title"}</td>
										    </tr>
											<tr align="left" valign="top">
												<td class="emailLink"><strong>Description</strong></td>
												<td>{tmpl_fieldset_field fieldset="fieldSet" field="rel_description"}</td>
										    </tr>
											<tr align="left" valign="top">
												<td class="emailLink"><strong>Upload File</strong></td>
												<td>{tmpl_fieldset_field fieldset="fieldSet" field="rel_file"}</td>
										    </tr>
											<tr align="left" valign="top">
												<td class="emailLink"><strong>Date</strong></td>
												<td>{tmpl_fieldset_field fieldset="fieldSet" field="rel_date"}</td>
										    </tr>
											<tr>
												<td class="emailLink">&nbsp;</td>
												<td><input name="imageField3" type="image" class="noBorder" src="Images/i-submitmedia.gif" border="0"></td>
											</tr>
										</table>
