<!-- 
If you cannot veiw this HTML email correctly, you can view the message online: 
{tmpl_var CurrentServer}{tmpl_var AssetPath}/Service/ViewThread/thr_id/{tmpl_var thr_id}/CurrentPage/{tmpl_var Page}#Message{tmpl_var fm_id}
-->
<HTML><HEAD><STYLE TYPE="text/css">	
body, td, tr, p, table  { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: ##333333; }
.forumQuote { border: 1px solid black; background-color: ##EEEEEE; padding: 5px; }
</STYLE></HEAD><BODY>
<p>A new media release has been uploaded to the {tmpl_var SiteName} website media releases page by <strong>{tmpl_var Poster}</strong>.</p>
<p>Please <a HREF="{tmpl_var CurrentServer}index.php?act=MediaReleasesAdministration.Edit&as_id={tmpl_var as_id}&rel_id={tmpl_var rel_id}&BackURL={tmpl_var_url BackURL}">view and approve this media release</a>.</p>
</BODY></HTML>