<table border="0" cellpadding="3" cellspacing="0">
	<tr>
		<td>
		    <div align="center"><a href="javascript:window.open('{tmpl_var AssetPath}/Service/Show/Image/{tmpl_var Order}','GalleryDetail', 'width={tmpl_var POPUP_WIDTH},height={tmpl_var POPUP_HEIGHT}');void(0);">
	    	<img border="0" alt="{tmpl_var ImageName}" src="index.php?act=ImageManager.get&Image={tmpl_var_url ImageLocation}&Size={tmpl_var THUMBNAIL_WIDTH}x{tmpl_var THUMBNAIL_HEIGHT}">
		    	</a>
	    	</div></td>
	</tr>
	<tr>
		<td align="CENTER"><strong>{tmpl_var ImageName}</strong></td>
	</tr>
</table>