{tmpl_if $data['hasError']}
	<P>One or more errors were detected, please correct the following and try again.</P>
		{tmpl_errors EntryErrors}				
{tmpl_end}
{tmpl_if $data['completed']}
<P>
	Your password has been emailed to you, wait for your password to arrive and then <A HREF="{tmpl_var BackURL}">return to the login page</A>. 
</P>
{tmpl_else}
<P>
	Please enter your email address and click the "Remind Me" button.
</P>
<FORM ACTION="index.php?act=Security.ForgotPassword&DoAction=Yes&BackURL={tmpl_var_raw BackURL}" METHOD="POST">
	Email Address : <INPUT TYPE="TEXT" NAME="Email" VALUE="" SIZE="30"> <INPUT TYPE="SUBMIT" VALUE="Remind Me">
</FORM>
{tmpl_end}