<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Invoice, Order #{tmpl_var or_id}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="STYLESHEET" type="text/css" href="sty_invoice.css">
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" cellpadding="10" cellspacing="0">
  <tr>
    <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="5">
        <tr>
          <td align="left" valign="top">
			<span class="tabtext-off">Invoice / Statement</span><br>
	        <br>
			Order # : {tmpl_var or_id}<br>
			Transaction # : {tmpl_var tr_reference}<br>					
			Date : {tmpl_var_date format="l, d F Y" name="or_recorded"}<BR>
			Tracking Code : {tmpl_var or_tracking_code} 
		  </td>
          <td align="right" valign="top">		  	
          {tmpl_var_raw LogoHTML}
		  </td>
        </tr>
      </table>
      <br>
      <table width="100%" border="0" cellpadding="5" cellspacing="0" class="border-tab-inner">
        <tr class="onlineShop_BasketHeaderRow">
          <td width="50%" align="left" valign="top">Purchaser:</td>
          <td width="50%" align="left" valign="top">Ship To:</td>
        </tr>
        <tr bgcolor="#FFFFFF" class="onlineShopBasketOddRow">
          <td width="50%" align="left" valign="top">
          {tmpl_var_raw PurchaserDetailsHTML}
		  </td>
          <td width="50%" align="left" valign="top">
          {tmpl_var_raw ShippingDetailsHTML}
		  </td>
        </tr>
     </table>
      <br>
      {tmpl_if strlen($data['GiftMessage'])}
	  <table width="100%" border="0" cellpadding="5" cellspacing="0" class="border-tab-inner">
        <tr class="onlineShop_BasketHeaderRow">
		 
		  <td  width="15%" align="left" valign="top">Gift Message:</td>
		  <td align="left" valign="top"></td>
        </tr>        
        <tr bgcolor="#FFFFFF">
		<td width="15%"></td>
		  <td  width="85%" align="left" valign="top">
		  {tmpl_var GiftMessage}
		  </td>
        </tr>
     </table>
      {tmpl_end}
	  <p>
	  {tmpl_var_raw BasketHTML}
	  </p>
	  <p>
	  {tmpl_var ThankYouNote}
	  </p>
    </td>
  </tr>
</table>
</body>
</html>
<script langauge="Javascript">
	window.self.focus();	
</script>