<p>Dear {tmpl_var first_name},</p>
<p>Today the box {tmpl_var Box} belonging to your order number {tmpl_var OrderID} was shipped.</p>
<p>If your order contains several boxes, they may be shipped separately.</p>
<ul>
<li>Your box may take between <strong>7 and 21 business days</strong>. </li>
<li>This does not include weekends or holidays for example Christmas, which can cause backlog that may add another 1 to 10 business days.</li>
<li>Please be patient, we have a near 100% success rate with shipments.</li>
</ul>
<br />
Do NOT reply to this email address, this is a no reply email.<br />
<br />
To contact us, please select members login at top right of website and log into your members page <br />
Submit a new Issue, selecting the relevant order number.<br />
<br />
<p>Best regards from your private llama supplier.</p>
<p>Bjorck Bros</p>
