
<TABLE BORDER="0" WIDTH="100%">		
		<TR>
			<TH ALIGN="LEFT" VALIGN="TOP" WIDTH="30%">
				Account Name :
			</TH>
			<TD>
				{tmpl_fieldset_field fieldset="FieldSet" field="AccountName"}
			</TD>
		</TR>
		<TR>
			<TH ALIGN="LEFT" VALIGN="TOP">
				Account Number :
			</TH>
			<TD>
				{tmpl_fieldset_field fieldset="FieldSet" field="AccountNumber"}
			</TD>
		</TR>	
		<TR>
			<TH ALIGN="LEFT" VALIGN="TOP">
				Note :
			</TH>
			<TD>
				{tmpl_fieldset_field fieldset="FieldSet" field="AccountNote"}
			</TD>
		</TR>		
</TABLE>
<INPUT type="hidden" name="NoBack" value="1">