<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<link href="../../../Layouts/puroexpress/sty_main.css" rel="stylesheet" type="text/css">
</head>

<body>
<table cellspacing="0" cellpadding="0" width="450" align="center" border="0">
	<tbody>
		<tr>
			<td valign="top" align="left" width="9" height="9"><img alt="EMB: 584" src="http://www.puroexpress.com/index.php?FuseAction=Asset.Display&AssetID=584" border="0" /></td>
			<td class="boxtopfill" height="7"><img alt="EMB: 524" src="http://www.puroexpress.com/index.php?FuseAction=Asset.Display&AssetID=524" border="0" /></td>
			<td valign="top" width="7"><img alt="EMB: 583" src="http://www.puroexpress.com/index.php?FuseAction=Asset.Display&AssetID=583" border="0" /></td>
		</tr>
		<tr>
			<td class="boxleftfill"> </td>
			<td valign="middle" align="center"><table width="100%" border="0" cellpadding="2" cellspacing="0" bgcolor="EFECE4">
            	<tr>
            		<td>&nbsp;</td>
            		<td>&nbsp;</td>
            		<td>&nbsp;</td>
       		        <td>&nbsp;</td>
           	 </tr>
            	<tr>
            		<td width="20"><img src="../../../Layouts/puroexpress/Images/holder.gif" width="20" height="10"></td>
            		<td><strong>Name:</strong></td>
            		<td>&nbsp;</td>
       		        <td>&nbsp;</td>
           	 </tr>
            	<tr>
            		<td>&nbsp;<!--- test ---></td>
            		<td colspan="3"><input type="text" name="textfield3">
       			 </td>
       		 </tr>
            	<tr>
				
            		<td>&nbsp;</td>
            		<td><strong>Email:</strong></td>
            		<td>&nbsp; </td>
       		        <td>&nbsp;</td>
           	 </tr>
            	<tr>
            		<td>&nbsp;</td>
            		<td colspan="3"><input name="textfield" type="text" size="50">
       			 </td>
       		 </tr>
            	<tr>
            		<td>&nbsp;</td>
            		<td><strong>Subject:</strong></td>
            		<td><strong>Issue Type: </strong></td>
       		        <td>&nbsp;</td>
           	 </tr>
            	<tr>
            		<td>&nbsp;</td>
            		<td><input name="textfield2" type="text" size="50">
       			 </td>
       		        <td><select name="select">
                    	<option selected>please select</option>
                    	</select></td>
       		        <td>&nbsp;</td>
           	 </tr>
            	<tr>
            		<td>&nbsp;</td>
            		<td><strong>Details:</strong></td>
            		<td>&nbsp;</td>
       		        <td>&nbsp;</td>
           	 </tr>
            	<tr>
            		<td>&nbsp; </td>
           		  <td colspan="2"><textarea name="textarea" cols="60" rows="10"></textarea>           		    </td>
       		        <td>&nbsp;</td>
           	 </tr>
            	<tr>
            		<td>&nbsp;</td>
            		<td colspan="3"><img src="Images/but-send.gif" alt="New Issue" width="105" height="31"></td>
       		 </tr>
            	<tr>
            		<td>&nbsp;</td>
            		<td colspan="3">&nbsp;</td>
       		 </tr>
            	</table></td>
			<td class="boxrightfill"> </td>
		</tr>
		<tr>
			<td valign="bottom" align="left"><img alt="EMB: 582" src="http://www.puroexpress.com/index.php?FuseAction=Asset.Display&AssetID=582" border="0" /></td>
			<td class="boxbott" height="7"><img alt="EMB: 524" src="http://www.puroexpress.com/index.php?FuseAction=Asset.Display&AssetID=524" border="0" /></td>
			<td valign="bottom" align="right"><img alt="EMB: 581" src="http://www.puroexpress.com/index.php?FuseAction=Asset.Display&AssetID=581" border="0" /></td>
		</tr>
	</tbody>
</table>
</body>
</html>
