.MTreeContainer {
	margin: 0px;
	padding: 0px;
	white-space: nowrap;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 8pt;
}

.MTreeItem, .MTreeItem:visited, .MTreeItem:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px; 
	font-weight: bold;
	margin: 1px;
	color: #000000;
	text-decoration: none;
	padding:2px;
	border:1px solid #f9f9f9;
}
.MTreeDisabledItem, .MTreeDisabledItem:visited, .MTreeDisabledItem:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px; 
	font-weight: bold;
	margin: 1px;
	color: #808080;
	text-decoration: none;
	padding:2px;
	border:1px solid #f9f9f9;
}

.MTreeItem:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px; 
	font-weight: bold;
	margin: 1px;
	color: #666666;
	text-decoration: underline;
	padding:2px;
	border:1px solid #f9f9f9;
}

.MTreeItemSelected {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px; 
	font-weight: bold;
	margin: 1px;
	color: black;
	text-decoration: none;
	background-color: #DBE7ED;
	border:1px dotted #333;
	padding:2px;
}

.MTreeContainer img {
	vertical-align: middle;
	border: 0px;
}

.TreeItemDisabled { 
	font-family: "ms sans serif", sans-serif, arial, helv, helvetica; 
	font-size: 8pt; 
	margin: 3px;
	color: #808080;
}
.treeBackground {
	background-color: white;
}