<?
	ss_paramKey($data,'ConfirmOrder',false);
?>
<div class="form-group">

<?php if( ss_getUserID() <= 0 ) { ?>
	<p>If you are a returning customer, please log in here first, it might enable more options.</p>

		<div class="container-fluid">
			<div class="row">
						<input type="radio" name="LoginOrGuest" id='Guest' value="0" checked onclick='document.getElementById("LoginHTML").style.display=""' /> I am a Returning Customer
			</div>
			<div class="row">
						<input type="radio" name="LoginOrGuest" id='Guest' value="1" onclick='document.getElementById("LoginHTML").style.display="none"' /> I am a New Customer
			</div>
		</div>

		<div id='LoginHTML'>
		{tmpl_var_raw LoginHTML}
		</div>

	<p></p>
		{tmpl_if count($data['Errors'])}
			<p> {tmpl_errors Errors} </p>
		{tmpl_end}	
<?php } else {  ?>
		<p>Thanks for logging in <?php echo ss_getFirstName(); ?></p>
<?php } ?>

	<script language="javascript" type="text/javascript">
	function newLoginCountry(chosen)
	{
		if( chosen )
			if( chosen != '<?=$_SESSION['ForceCountry']['cn_two_code']?>' )
				window.location = "index.php?act=Security.SetCountry&CC="+chosen+"&BackURL=<?=$_SERVER['REQUEST_URI']?>/Chosen/1";
	}
	</script>

<?php
$buttonName = 'Continue with checkout';
?>

<form name="LoginForm" method="post" action="/Shop_System/Service/Login">
	<div>
		<label class="control-label" for="input-shipping">Shipping to</label>
		<select name="ShippingCountry" onchange="newLoginCountry(this.value);">
			<option value="">Please confirm which country you are shipping to here</option>
			<option value="">--------</option>
<?php
	$Q_Countries = query("
		SELECT cn_id, cn_name, cn_two_code FROM countries
		WHERE (cn_disabled IS NULL OR cn_disabled = 0)
		 AND (cn_restrict_shipping IS NULL OR cn_restrict_shipping = 0 OR cn_redirect_url IS NOT NULL)
		ORDER BY cn_name
	");	

	$Countries = array();
	while( $row = $Q_Countries->fetchRow())
		$Countries[$row['cn_id']] = $row;

	$fc = $_SESSION['ForceCountry']['cn_id'];
	echo "<option value=\"".$Countries[$fc]['cn_two_code']."\"";
	if( $data['Chosen'] )
		echo " selected='selected'";
	echo ">".$Countries[$fc]['cn_name']."</option>";
?>
		<option value="">--------</option>
<?php
	foreach ( $Countries as $id=>$row )
		echo "<option value=\"".$row['cn_two_code']."\" >".$row['cn_name']."</option>";
?>
		</select>
	</div>
<?php
	if( $data['NeedsPayment']  )
	{
?>
  <p> Payment Options, <strong>please choose one of these...</strong> </p>
<?php
		if( $data['PaymentOptions'] !== NULL )
		{
			if( $data['LastGatewayName'] )
			    echo "<p>You last used {$data['LastGatewayName']}</p>";
?>
	<div class="container-fluid">
		<div class="row">
		<?php
		$last_name = ''; $last_currency = '';
		$selected = false;
		?>
		<tmpl_loop query="PaymentOptions">
			<?php
			if( $_SESSION['GatewayOption'] == $row['po_id'] )
				$selected = true;

			// if( $last_name == $row['cct_name'] && $last_currency == $row['po_currency'] )
			if( $last_name == $row['cct_name'] )
				continue;
			else
			{
			?>
			<div class="col-sm-4">
				<div id='div{tmpl_row_var po_id}' class="paymentChoice">
					<script language="javascript" type="text/javascript">
						var s = document.getElementById('div{tmpl_row_var po_id}');
						s.style.cursor = 'pointer';
						s.onclick = function() {
							var r = document.getElementById('radio{tmpl_row_var po_id}');
							r.checked = true;
						};
					</script>

					<div style='height:200px'>
						<strong>
						<?php echo str_replace( ' ', '&nbsp;', $row['po_currency'].' - '.$row['cct_name'] ); ?>
						</strong>
						<img src="/images/{tmpl_row_var cct_image}" />
						{tmpl_row_var_raw description}
					</div>
					<?php echo getCurrencySummary( abs($row['po_id']), $_SESSION['Shop']['Basket']['Total'] ); ?>
					<input type="radio" name="GatewayOption" id='radio{tmpl_row_var po_id}' value="{tmpl_row_var po_id}" <?php if( $selected ) echo "checked";?>>
				</div>
			</div>
			<?php
				$last_name = $row['cct_name'];
				$last_currency = $row['po_currency'];
				$selected = false;
			} ?>
		</tmpl_loop>
		</div>
	</div>
<?php
		}

	}
	else
	{
?>
	<p>
		Continue using account credit of <?=-($_SESSION['Shop']['Basket']['Discounts']['Account Credit'])?> <?= $data['CurrencyCode']?>
		<input type="hidden" name="GatewayOption" value="<?=$_SESSION['User']['us_credit_from_gateway_option']?>" />
	</p>
<?php } ?>

<input name="imageField" type="submit" value="<?=$buttonName?>" class="btn btn-primary" />
</form>

<?php
if( $data['PaymentOptionsOtherSite'] !== NULL )
{
	$buttonName = 'Swap to '.$data['OtherSiteName'];
?>
<form action="<?=$data['OtherSiteName'].$_SERVER['REQUEST_URI']?>" method="post">
	<input type='hidden' name='Session' value='<?php echo session_id(); ?>' />
	<p><strong>... or go to our sister site </strong> <?=$data['OtherSiteName']?></p>
	<div class="container-fluid">
		<div class="row">
		<tmpl_loop query="PaymentOptionsOtherSite">
		<?php
			if( $last_name == $row['cct_name'] && $last_currency == $row['po_currency'] )
				continue;
			else
			{
		?>
			<div class="col-sm-4">
				<div class="paymentChoice">
					<strong>
					<?php echo str_replace( ' ', '&nbsp;', $row['po_currency'].' - '.$row['cct_name'] ); ?>
					</strong>
					<div style="height:60px;"><img src="/images/{tmpl_row_var cct_image}" /></div>
					<div style="height:100px;">{tmpl_row_var_raw description}</div>
					<div style="height:80px;"><?php echo getCurrencySummary( abs($row['po_id']), $_SESSION['Shop']['Basket']['SubTotal'] ); ?></div>
				</div>
			</div>
		<?php
	
			$last_name = $row['cct_name'];
			$last_currency = $row['po_currency'];
			} ?>
		</tmpl_loop>
		</div>
	</div>
	<input name="imageField" type="submit" value="<?=$buttonName?>" class="btn btn-primary" />
</form>
<?php
}
?>
</div>
