<HTML>
	<HEAD>
		<STYLE>
			p {
				font-family: Verdana,Arial, Helvetica, sans-serif;
				font-size: 10pt;
			}
		</STYLE>
	</HEAD>	
	<BODY>
		<P>
			{tmpl_var Reviewer},
		</P>
		<P>
			{tmpl_var Author} has requested you to accept a delete request for the following {tmpl_var as_type}:<BR>{tmpl_var AssetPath}
		</P>
		<P>
			You may <A HREF="<?=$GLOBALS['cfg']['currentServer']?>admin">log into your administration area</A> and view the {tmpl_var as_type} any comments by the author.
		</P>
	</BODY>
</HTML>			