body {
	scrollbar-base-color: #ffffff;
	scrollbar-face-color: #F4F4F4;
	scrollbar-track-color: white;
	scrollbar-arrow-color: #666666;
	scrollbar-highlight-color: #F4F4F4;
	scrollbar-3dlight-color: #F4F4F4;
	scrollbar-shadow-color: #F4F4F4;
	scrollbar-darkshadow-color: #666666; 
}