<TABLE WIDTH="100%" CELLSPACING="0" CELLPADDING="5">		
<tmpl_eval expression="foreach ($data['fields'] as $data['field']) {">
	{tmpl_if !$data['IsForm']}		
		{tmpl_eval print($data['field']->displayValue($data['field']->value))}<BR>	
	{tmpl_else}
		<TR>
		<TD VALIGN="TOP" ALIGN="Middle" WIDTH="5" CLASS="AdminRequired"><tmpl_if condition="$data['field']->required">*</tmpl_if></TD>
		<TH VALIGN="TOP" align=left width="33%"><SPAN CLASS="AdminDisplayName">
			{tmpl_eval print($data['field']->displayName)}</SPAN>
			<tmpl_if condition="strlen($data['field']->note)">
				<BR><SPAN CLASS="AdminNote">{tmpl_eval print($data['field']->note)}</SPAN>
			</tmpl_if>
		</TH>
		<TD>
		{tmpl_if $data['IsForm']}
			{tmpl_eval print($data['field']->display(false, 'adminForm'))}
		{tmpl_else}
			{tmpl_eval print($data['field']->displayValue($data['field']->value))}
		{tmpl_end}
		</TD>
		</TR>
		<tmpl_if condition="$data['field']->verify">
		<TR>
			<TD VALIGN="TOP" ALIGN="middle" WIDTH="5" CLASS="AdminRequired"><tmpl_if condition="$data['field']->required">*</tmpl_if></TD>
			<TH VALIGN="TOP" align=left width="33%"><SPAN CLASS="AdminDisplayName">
				Verify {tmpl_eval print($data['field']->displayName)}</SPAN>
				<tmpl_if condition="strlen($data['field']->note)">
					<BR><SPAN CLASS="AdminNote">{tmpl_eval print($data['field']->note)}</SPAN>
				</tmpl_if>
			</TH>
			<TD>{tmpl_eval print($data['field']->display(true, 'adminForm'))}</TD>
		</TR>
		</tmpl_if>
{tmpl_end}
</tmpl_eval>
</TABLE>
