<p class="noPrint">
<input type="button" name="print" onclick="window.print();" value="Print">
</p>
<A HREF='<?php getBackURL(); ?>'>Back</A>
<form action="index.php?act=OnlineShop.AcmeStockCheckList" method="post">

<h1>Geneva</h1>
Finalise this ?&nbsp;<input type='checkbox' name='finalise' value='1' />
<input type='submit'/>
<table width="100%" border="1" cellpadding="2">
	<tr>
		<td><strong>Product Name</strong></td>
		<td><strong>Stock Code</strong></td>
		<td><strong>Qty for packing</strong></td>
		<td><strong>Qty reserved</strong></td>
		<td><strong>Qty for sale</strong></td>
		<td><strong>Qty on shelf</strong></td>
		<td><strong>Qty -> Marbella</strong></td>
	</tr>
<tmpl_loop query="Q_StockS">
	<tr>
		<td valign="top">{tmpl_row_var pr_name}</td>
		<td valign="top">{tmpl_row_var pro_stock_code}</td>
		<td valign="top">{tmpl_row_var Qty}&nbsp;</td>
		<td valign="top">{tmpl_row_var SQty}&nbsp;</td>
		<td valign="top">{tmpl_row_var pro_stock_available}</td>
		<?php $qty = $row['Qty'] + $row['SQty'] + $row['pro_stock_available']; ?>
		<td valign="top"><?=$qty?></td>
		<td valign="top"><input name='Send_{tmpl_row_var pr_id}' size=4 value='{tmpl_row_var sm_qty}'/></td>
	</tr>
</tmpl_loop>
</table>
</form>

<h1>Marbella</h1>
<table width="100%" border="1" cellpadding="2">
	<tr>
		<td><strong>Product Name</strong></td>
		<td><strong>Stock Code</strong></td>
		<td><strong>Qty for packing</strong></td>
		<td><strong>Qty reserved</strong></td>
		<td><strong>Qty for sale</strong></td>
		<td><strong>Qty on shelf</strong></td>
	</tr>
<tmpl_loop query="Q_StockM">
	<tr>
		<td valign="top">{tmpl_row_var pr_name}</td>
		<td valign="top">{tmpl_row_var pro_stock_code}</td>
		<td valign="top">{tmpl_row_var Qty}&nbsp;</td>
		<td valign="top">{tmpl_row_var SQty}&nbsp;</td>
		<td valign="top">{tmpl_row_var pro_stock_available}</td>
		<?php $qty = $row['Qty'] + $row['SQty'] + $row['pro_stock_available']; ?>
		<td valign="top"><?=$qty?></td>
	</tr>
</tmpl_loop>
</table>
