<?php
	$data['Q_QuickOrderCategories'] = query("
		SELECT * FROM shopsystem_quick_categories
	");
?>

<table width="360" border="0" cellspacing="0" cellpadding="0" >
 <tmpl_loop query="Q_Products">
	<form name="ProductDetail{tmpl_row_var pr_id}"> 
	<tr>
  <td width="40" class="line-quick" ><tmpl_if condition="strlen($row['Image'])">
	<a href="{tmpl_row_var ProductDetailLink}" class="thumbnailquick" ><img border="0" src="{tmpl_row_var Image}" alt="{tmpl_row_var pr_name}" /></a>
</tmpl_if></td>
    <td class="line-quick"><span><a href="{tmpl_row_var ProductDetailLink}" class="onlineShopNameQuick"><?php $row['pr_name'] = strtoupper($row['pr_name']); ?>{tmpl_row_var pr_name}</a></span>
	<!-- Display options -->
		<tmpl_eval expression="print($data['this']->getOptions($row,$data['OptionFieldsArray']))">
     
      <p>{tmpl_row_var_raw PricesHTML}</p>
        <p>
          <? // display ratings ?>
          <tmpl_if condition="$row['pr_customer_rating'] !== null and $row['pr_customer_rating_count'] !== null">
                <strong><img src="Images/arrow-shop.gif" width="10" height="7"> Product Rating:</strong>
                <?php 
					$data['Star1'] = '<img title="'.$row['pr_customer_rating'].'" src="Images/star-full.gif">';
					$data['Star2'] = '<img title="'.$row['pr_customer_rating'].'" src="Images/star-empty.gif">';
					$data['Star3'] = '<img title="'.$row['pr_customer_rating'].'" src="Images/star-empty.gif">';
					$data['Star4'] = '<img title="'.$row['pr_customer_rating'].'" src="Images/star-empty.gif">';
					$data['Star5'] = '<img title="'.$row['pr_customer_rating'].'" src="Images/star-empty.gif">';
					if ($row['pr_customer_rating'] >= 70) $data['Star2'] = '<img title="'.$row['pr_customer_rating'].'" src="Images/star-full.gif" width="19" height="21">';
					if ($row['pr_customer_rating'] >= 80) $data['Star3'] = '<img title="'.$row['pr_customer_rating'].'" src="Images/star-full.gif" width="19" height="21">';
					if ($row['pr_customer_rating'] >= 90) $data['Star4'] = '<img title="'.$row['pr_customer_rating'].'" src="Images/star-full.gif" width="19" height="21">';
					if ($row['pr_customer_rating'] >= 95) $data['Star5'] = '<img title="'.$row['pr_customer_rating'].'" src="Images/star-full.gif" width="19" height="21">';
				?>
                {tmpl_var_raw Star1}{tmpl_var_raw Star2}{tmpl_var_raw Star3}{tmpl_var_raw Star4}{tmpl_var_raw Star5}<br />
                <img src="Images/holder.gif" width="10" height="7"><br />
                <!--Based on {tmpl_row_var pr_customer_rating_count} customer 
                <?=ss_pluralize($row['pr_customer_rating_count'],'rating','ratings');?>
                <a href="{tmpl_var AssetPath}/Service/AddCustomerRating/Product/{tmpl_row_var pr_id}" class="SizeDetails">Rate this Llama</a>			-->
                <tmpl_else>
                <img src="Images/holder.gif" width="10" height="7"> <!--<a href="{tmpl_var AssetPath}/Service/AddCustomerRating/Product/{tmpl_row_var pr_id}" class="SizeDetails">Rate this Llama</a>--><br />
</tmpl_if>
          
        <div >  <tmpl_if condition="ss_OptionExists('Sell Products')">
              <!-- Add to basket -->	
            <?php
									$data['AddVis'] = true;
									$data['OutVis'] = false;
									if (array_key_exists('ProductStockLevels',$_REQUEST) and array_key_exists($row['pr_id'],$_REQUEST['ProductStockLevels'])) {
										if ($_REQUEST['ProductStockLevels'][$row['pr_id']] == 'false') {
											$data['AddVis'] = false;
											$data['OutVis'] = true;	
										}	
									}
								?>
                             <tmpl_if condition="$data['AddVis']"><span id="AddToBasket_{tmpl_row_var pr_id}"><a href="javascript:if (readyToBuy[{tmpl_row_var pr_id}]) { document.forms.ProductDetail{tmpl_row_var pr_id}.action = '{tmpl_var_js AssetPath}/Service/UpdateBasket/pr_id/{tmpl_row_var pr_id}/Qty/1'; document.forms.ProductDetail{tmpl_row_var pr_id}.submit() } else { alert('Please make a choice from the options before continuing.') }"><img src="Images/but-add_to_basket.gif" border="0" /></a></span></tmpl_if>
            <tmpl_if condition="$data['OutVis']"><span id="OutOfStock_{tmpl_row_var pr_id}"><img src="Images/but-outofstock.gif"></span></tmpl_if>
              </tmpl_if></div>			
            </p>
	</td>
  </tr>
  </form>
	</tmpl_loop>	
</table>
