<tmpl_if condition="array_key_exists('Done',$data)">
<p>
	The product has been added to your wish list.
</p>
<p>
	<tmpl_if condition="strlen($data['LastSearch'])">
		<a href="{tmpl_var LastSearch}"><img border="0" src="Images/but-continue_shopping.gif" /></a>
	</tmpl_if>
</p>
<tmpl_else>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td align="left">&nbsp;</td>
		<td>
			<table width="100%" border="0" cellpadding="5" cellspacing="0" class="onlineShop_BasketTable">
				<tr>
					<td colspan="3">
						{tmpl_var_raw Error}
						<p>This system works only if you are a confirmed client. If you are a client but have not bought through our new upgraded site, the system will not recognize your e-mail. We could not technically solve this.</p>
						<p>Select a product to add, enter your email address and then click the add to wish list button.</p>
					</td>
				</tr>
				<tr><td><table class="onlineShop_checkoutSectionTable" width="100%" cellspacing="0" cellpadding="5">
				<form name="adder" action="{tmpl_var AssetPath}/Service/AddToWishList" method="post">
					<input type="hidden" name="DoAction" value="Yes">
				<tr>
					<td width="100"><strong>Category:</strong></td>
					<td>
						 <select name="pr_ca_id" class="onlineShop_productBand_categorySelect" onchange="document.getElementById('loader').src = '{tmpl_var_js AssetPath}/Service/CategoryProductsJS/ca_id/'+this.options[selectedIndex].value;">
							<option selected value="">Please Select</option>								
							<tmpl_loop query="Q_Categories">
								<option value="{tmpl_row_var ca_id}">{tmpl_row_var ca_name}</option>
							</tmpl_loop>
						</select>
					</td>
				</tr>
				<tr>
					<td><strong>Product:</strong></td>
					<td>
						 <select name="Key">
							<option value="">Select Category First</option>
						</select>
					</td>
				</tr>
				<tr>
					<td><strong>Email Address:</strong></td>
					<td>
						<input type="text" maxlength="255" name="Email" size="30">
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<input type="submit" name="Add" value="Add to Wish List" onclick="if (this.form.Key.selectedIndex == 0) {alert('Please select a product'); return false; }; if (this.form.Email.value.length == 0) {alert('Please enter your email address'); return false; }; return true;">
					</td>
				</tr>
					<script language="Javascript">
						function updateProducts(p) {
							keys = document.forms.adder.Key;
							for(var j= keys.options.length-1; j >= 0; j--) keys.options[j] = null;
							keys[0] = new Option('Please Select','');
							for(var i=0;i<p.length;i++) keys[i+1] = new Option(p[i].n,p[i].k);
						}
					</script>
					<iframe src="" id="loader" name="loader" style="display:none;"></iframe>
				</form>
				</table>
				</td></tr>
			</table>
		</td>
	</tr>
	
</table>
</tmpl_if>