<tmpl_if condition="strlen($data['CategoryBreadCrumbs'])">Category: {tmpl_var_raw CategoryBreadCrumbs}</tmpl_if>
<tmpl_if condition="$data['Q_Product']->numRows() == 0">
	<p>Sorry, this product no longer exists in our database.  Please <a href="{tmpl_var AssetPath}">try searching again</a></p>
<tmpl_else>
	<tmpl_loop query="Q_Product">
  <div class="padding-30">
    <div class="row">
      <div class="col-sm-5 image-container">
        <div class="thumbnail image text-center">
          <a href="index.php?act=ImageManager.get&ProductFull={tmpl_row_var pr_id}" class="imagezoom">
						<img src= "index.php?act=ImageManager.get&ProductV={tmpl_row_var pr_id}"
								title="{tmpl_row_var pr_name}" alt="{tmpl_row_var pr_name}" id="image"
								data-zoom-image="index.php?act=ImageManager.get&ProductFull={tmpl_row_var pr_id}"
								class="product-image-zoom img-responsive">
					</a>
        </div>
			</div>
      <div class="col-sm-7">
        <h1 class="heading_detail">{tmpl_row_var pr_name}</h1>
        <div class="detail rating clearfix"></div>
        <ul class="list-unstyled">
          <li>{tmpl_row_var_raw pr_long}</li>
          <li>{tmpl_var_raw OptionsHTML}</li>
        </ul>
        <ul class="list-unstyled">
          <li>
            <h3 class="detail price-new">
							{tmpl_row_var_raw PricesHTML}
						</h3>
          </li>
          <li>
						<?php if( strlen( $row['PrCigarLength'] ) || strlen( $row['PrCigarThickness'] ) ) {
							ss_ShowCigarSize( $row['PrCigarLength'], $row['PrCigarThickness'] );
						} ?>       			
          </li>
          <li>
						<?php if( array_key_exists( 'ct_name', $row ) and strlen( $row['ct_name'] ) and ($row['ct_name'] != 'Unknown') ) {
							echo '<strong>Format:</strong>';
							echo $row['ct_name'];
						} ?>
          </li>
          <li>
						<? if ($row['pr_combo']) {
							$Combo = getRow("SELECT SUM(cpr_qty) AS TheCount FROM shopsystem_combo_products WHERE cpr_element_pr_id = {$row['pr_id']}");
							print('<strong>Boxes in combo:</strong>'.$Combo['TheCount']);
							$data['AttributesHTML'] = '<strong>Llamas per box:</strong>Varies';
						} ?>
          </li>
          <li>
						{tmpl_var_raw AttributesHTML}
          </li>
          <li>
						<tmpl_if condition="$row['pr_ve_id'] != 1">
							<tmpl_if condition="$row['pr_customer_rating'] !== null and $row['pr_customer_rating_count'] !== null">
								<strong>Product Rating:</strong>
								<div class="stars">
								<?php 
									$data['Star1'] = '<img title="'.$row['pr_customer_rating'].'" src="Images/star-full.gif">';
									$data['Star2'] = '<img title="'.$row['pr_customer_rating'].'" src="Images/star-empty.gif">';
									$data['Star3'] = '<img title="'.$row['pr_customer_rating'].'" src="Images/star-empty.gif">';
									$data['Star4'] = '<img title="'.$row['pr_customer_rating'].'" src="Images/star-empty.gif">';
									$data['Star5'] = '<img title="'.$row['pr_customer_rating'].'" src="Images/star-empty.gif">';
									if ($row['pr_customer_rating'] >= 70) $data['Star2'] = '<img title="'.$row['pr_customer_rating'].'" src="Images/star-full.gif">';
									if ($row['pr_customer_rating'] >= 80) $data['Star3'] = '<img title="'.$row['pr_customer_rating'].'" src="Images/star-full.gif">';
									if ($row['pr_customer_rating'] >= 90) $data['Star4'] = '<img title="'.$row['pr_customer_rating'].'" src="Images/star-full.gif">';
									if ($row['pr_customer_rating'] >= 95) $data['Star5'] = '<img title="'.$row['pr_customer_rating'].'" src="Images/star-full.gif">';
								?>{tmpl_var_raw Star1}{tmpl_var_raw Star2}{tmpl_var_raw Star3}{tmpl_var_raw Star4}{tmpl_var_raw Star5}
								</div>
							</tmpl_if>
						</tmpl_if>
          </li>
        </ul>
        <div id="product">
          <div class="product-buttons-wrap clearfix">
						<input type="hidden" name="product_id" value= "{tmpl_row_var pr_id}">
            <div class="clearfix"> </div>
						<hr>
							<div class="action action-detail clearfix product-block">
								<button type="button" id="button-cart" title="Add to Cart" class="btn-cart pull-left" onclick="cart.add('{tmpl_row_var pr_id}');">Add to Cart</button>
							</div>
							<div class="action action-detail clearfix product-block">
								<button class="wishlist pull-left" type="button" data-toggle="tooltip" title="" onclick="wishlist.add('{tmpl_row_var pr_id};');"><i class="zmdi zmdi-favorite-outline"></i><span>Add to Wish List</span></button>
							</div>
						<hr>
          </div>
        </div>
      </div>
    </div>
  </div>

	<? break; ?>
	</tmpl_loop>
</tmpl_if>
