<tmpl_if condition="$data['Action'] == 'cleared'">
	<p>Your discount code has been cleared. No discounts will be in effect.</p>
</tmpl_if>
<tmpl_if condition="$data['Action'] == 'set'">
	<?php
		$message = "<p>You are currently using the discount code {$_SESSION['Shop']['DiscountCode']['di_code']}.</p>";
		$message .= "<p>This discount is {$_SESSION['Shop']['DiscountCode']['di_amount']}%</p>";

		$now = date( 'Y-m-d H:i:s' );
		$applicable = true;

		if( $_SESSION['Shop']['DiscountCode']['di_active'] == 'false' )		// this discount applies to products
		{
			$applicable = false;
			$message .= "<b>This discount is disabled.</b><br />";
		}
		else
			if( strcmp( $now, $_SESSION['Shop']['DiscountCode']['di_starting'] ) < 0 )
			{
				$applicable = false;
				$message .= "<b>This discount has not started yet.</b><br />";
			}
			else
				if( strcmp( $now, $_SESSION['Shop']['DiscountCode']['di_ending'] ) > 0 )
				{
					$applicable = false;
					$message .= "<b>This discount has expired.</b><br />";
				}

		if( $applicable && strlen($_SESSION['Shop']['DiscountCode']['di_discount_group']) )		// this discount applies to products
		{
			$message .= "<b>This discount applies only to these products</b><br /><h3>To use this discount code, you MUST add one or more of the below products.<br />This cannot be done after the order is placed.<br />Your discount will appear above the order total.</h3> <br /> <br />";
			if( strlen( $_SESSION['Shop']['DiscountCode']['di_minimum_stock'] ) )
				$q = "
					select pr_id, pr_name, pro_id from shopsystem_products join shopsystem_product_extended_options on pro_pr_id = pr_id
						where pr_dig_id = {$_SESSION['Shop']['DiscountCode']['di_discount_group']} and pr_offline IS NULL and pr_deleted IS NULL
						  and pro_stock_available > {$_SESSION['Shop']['DiscountCode']['di_minimum_stock']}
						UNION  
					select pr_id, pr_name, pro_id from shopsystem_products join shopsystem_product_extended_options on pro_pr_id = pr_id
						join shopsystem_categories on ca_id = pr_ca_id
						where ca_dig_id = {$_SESSION['Shop']['DiscountCode']['di_discount_group']} and pr_offline IS NULL and pr_deleted IS NULL
						  and pro_stock_available > {$_SESSION['Shop']['DiscountCode']['di_minimum_stock']}
						  ";
			else
				$q = "
					select pr_id, pr_name, pro_id from shopsystem_products join shopsystem_product_extended_options on pro_pr_id = pr_id
						where pr_dig_id = {$_SESSION['Shop']['DiscountCode']['di_discount_group']} and pr_offline IS NULL and pr_deleted IS NULL
					UNION
					select pr_id, pr_name, pro_id from shopsystem_products  join shopsystem_product_extended_options on pro_pr_id = pr_id
						join shopsystem_categories on ca_id = pr_ca_id
						where ca_dig_id = {$_SESSION['Shop']['DiscountCode']['di_discount_group']} and pr_offline IS NULL and pr_deleted IS NULL
					";

			$Qy = query( $q );
			while( $row = $Qy->fetchRow( ) )
			{
				$message .= "<a href='/Shop_System/Service/Detail/Product/{$row['pr_id']}'>{$row['pr_name']}</a>&nbsp;<a href='http://{$_SERVER['SERVER_NAME']}/Online%20Shop/Service/UpdateBasket/pr_id/{$row['pr_id']}/Qty/1/Options/{$row['pro_id']}/?BackURL=".ss_HTMLEditFormat($data['BackURL'])."'><img src='Custom/ContentStore/Templates/acmeexpress/OnlineShopAsset/Images/but-add_to_basket.gif' border=0 /></a> <br />";
			}
		}
		/*
		if (ss_optionExists('Custom Discount Code Message')) {
			
			$temp = $_SESSION['Shop']['DiscountMsg'];
			if(strlen(strip_tags($temp))) {
				$message = str_replace('[Code]', $data['DiscountCode'], $temp);
				$message = str_replace('[Rate]', $discount, $message);
				$message = ss_parseText($message);
			}
		}
		*/
		print $message;
	?>	
</tmpl_if>
<tmpl_if condition="$data['Action'] == 'invalid'">
	<p>Sorry the discount code you entered was invalid.</p>
	<p><a href="{tmpl_var BackURL}">Click here to return.</a></p>
</tmpl_if>
