<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" class="bodytext">
 	<tr>
 		<td width="213" align="left" valign="top"><table width="213" border="0" cellspacing="0" cellpadding="0">
 				<tr>
 					<td colspan="2">{tmpl_if ss_optionExists('Sell Products') }<img src="Images/welcome-shop.gif" width="250" height="125">{tmpl_else}<img src="Images/welcome-pc.gif" width="250" height="125">{/tmpl_if}</td>
		 </tr>
 				<tr>
 					<td width="178" align="center" valign="middle">
					{tmpl_if ss_optionExists('Sell Products') }
						<?php 
						$accessCode = "";
						if (array_key_exists('AccessCode', $_SESSION)) {
							$accessCode = "&AccessCode=".$_SESSION['AccessCode'];
						}
						?>
						<a href="javascript:void(0);" onclick="res=window.open('{tmpl_var SecureSite}index.php?act=WebPayAdministration.List&as_id=&as_id={tmpl_var as_id}<?=$accessCode?>','OrderManager','width=760,height=480,scrollbars=yes,menubar=yes,resizable=yes');res.focus();return false;"><img src="Images/but-orders.gif" width="115" height="113" border="0" alt="Manage Orders"></a>
						{/tmpl_if}						
 					</td>
 					<td width="72" height="172" background="Images/welcome-right-bot1.gif">&nbsp;</td>
		 </tr>
 				</table>
	 </td>
 		<td align="left" valign="top"><img src="Images/holder.gif" width="25" height="15">
    			<table width="100%" border="0" cellspacing="0" cellpadding="0">
                	<tr>
                		<td><img src="Images/h-products.gif" width="172" height="26"></td>
           		 </tr>
                	<tr>
                		<td align="left" valign="top">
							{tmpl_if ss_optionExists('Sell Products') }
								{tmpl_admin_link label="Manage Products" url="index.php?act=ShopSystem_ProductsAdministration.List&as_id={$data['as_id']}" target="OnlineShopProductsManager" description="Click here to edit the products found in your shop."}                		
							{tmpl_else}
								{tmpl_admin_link label="Manage Products" url="index.php?act=ShopSystem_ProductsAdministration.List&as_id={$data['as_id']}" target="OnlineShopProductsManager" description="Click here to edit the products found in your product catalogue."}                		
							{/tmpl_if}			
           			 </td>
           		 </tr>
                	<tr>
                		<td><img src="Images/h-categories.gif" width="172" height="26"></td>
           		 </tr>
                	<tr>
                		<td align="left" valign="top">
							{tmpl_admin_link label="Manage Categories" url="index.php?act=ShopSystem_CategoriesAdministration.List&as_id={$data['as_id']}" target="OnlineShopCategoriesManager" description="Click here to edit the categories that your products will be divided into."}
           			 </td>
           		 </tr>
                	<tr>
                		<td><img src="Images/h-config.gif" width="172" height="26"></td>
           		 </tr>
                	<tr>
                		<td align="left" valign="top"><a class="bodytextBlue" href="javascript:var el=document.getElementById('ConfigureShop');if (el.style.display == '') { el.style.display='none';document.getElementById('ClickHere').style.display=''; document.getElementById('PleaseSelect').style.display='none';} else { el.style.display='';document.getElementById('ClickHere').style.display='none'; document.getElementById('PleaseSelect').style.display=''; }void(0);">To configure your {tmpl_if ss_optionExists('Sell Products') }shop{tmpl_else}product catalogue{/tmpl_if}, <span id="ClickHere">click here.</span><span id="PleaseSelect" style="display:none;">please select from the options below:</span></a> <img src="Images/go-arrow.gif"><br />
                		<div id="ConfigureShop" style="display:none;">
        			            <table border="0" cellspacing="0" cellpadding="7">
					{tmpl_if ss_optionExists('Shop Gallery') }
        				<tr>
        					<td>&nbsp;</td>
        					<td><img src="Images/arrow-left.gif" width="11" height="5"></td>
        					<td class="bottomDot">{tmpl_admin_config_link id="ShopGallery" description="Manage Shop Gallery"}</td>
        				</tr>
        			{/tmpl_if}
        				<tr>
        					<td>&nbsp;</td>
        					<td><img src="Images/arrow-left.gif" width="11" height="5"></td>
        					<td class="bottomDot">{tmpl_admin_config_link id="ProductAttributes" description="Define Product Attributes"}</td>
   					 </tr>
        				<tr>
        					<td>&nbsp;</td>
        					<td><img src="Images/arrow-left.gif" width="11" height="5"></td>
        					<td class="bottomDot">{tmpl_admin_config_link id="ProductOptions" description="Define Product Options"}</td>
   					 </tr>
   					<tmpl_if condition="ss_optionExists('Shop Product Features')">
        				<tr>
        					<td>&nbsp;</td>
        					<td><img src="Images/arrow-left.gif" width="11" height="5"></td>
        					<td class="bottomDot">
								{tmpl_admin_config_link_tab label="Manage Product Feature" url="index.php?act=shopsystem_features_administration.List&as_id={$data['as_id']}" target="OnlineShopFeatures" description="Manage Product Features"}
        					</td>
   					 </tr>   					 
   					 </tmpl_if>
					{tmpl_if ss_optionExists('Sell Products') }
        				<tr>
        					<td>&nbsp;</td>
        					<td><img src="Images/arrow-left.gif" width="11" height="5"></td>
        					<td class="bottomDot">{tmpl_admin_config_link id="NotificationSettings" description="Notification Settings"}</td>
   					 </tr>
        			<tr>
        					<td>&nbsp;</td>
        					<td><img src="Images/arrow-left.gif" width="11" height="5"></td>
        					<td class="bottomDot">{tmpl_admin_config_link id="ThankYouPageSettings" description="Edit Thank You Page"}</td>
   					 </tr>
   					 <tr>
        					<td>&nbsp;</td>
        					<td><img src="Images/arrow-left.gif" width="11" height="5"></td>
        					<td class="bottomDot">{tmpl_admin_config_link id="InvoicingSettings" description="Invoicing Settings"}</td>
   					 </tr>
        				<tr>
        					<td>&nbsp;</td>
        					<td><img src="Images/arrow-left.gif" width="11" height="5"></td>
        					<td class="bottomDot">{tmpl_admin_config_link id="CustomerUserGroups" description="Customer User Groups"}</td>
   					 </tr>
   					 {/tmpl_if} 
        				<tr>
        					<td width="10">&nbsp;</td>
        					<td width="11"><img src="Images/arrow-left.gif" width="11" height="5"></td>
        					<td class="bottomDot">
								{tmpl_admin_config_link_tab label="Manage Tax Zones" url="index.php?act=ShopSystem_TaxZonesAdministration.List&as_id={$data['as_id']}" target="OnlineShopTaxZonesManager" description="Manage Tax Zones"}        					
							</td>
   					 </tr>
        				<tr>
        					<td>&nbsp;</td>
        					<td><img src="Images/arrow-left.gif" width="11" height="5"></td>
        					<td class="bottomDot">
								{tmpl_admin_config_link_tab label="Manage Tax Rates" url="index.php?act=ShopSystem_TaxZonesAdministration.Configure&as_id={$data['as_id']}" target="OnlineShopTaxRatesManager" description="Manage Tax Rates"}        					
							</td>
   					 </tr>
        				<tr>
        					<td>&nbsp;</td>
        					<td><img src="Images/arrow-left.gif" width="11" height="5"></td>
        					<td class="bottomDot">
								{tmpl_admin_config_link_tab label="Manage Category Product Attributes" url="index.php?act=shopsystem_categories.AttributesSetting&as_id={$data['as_id']}" target="OnlineShopCategoriesAttributesSetting" description="Manage Category Product Attributes"}
        					</td>
   					 </tr>
        				<tr>
        					<td>&nbsp;</td>
        					<td><img src="Images/arrow-left.gif" width="11" height="5"></td>
        					<td class="bottomDot">
								{tmpl_admin_config_link_tab label="Manage Category Product Options" url="index.php?act=shopsystem_categories.AttributesSetting&as_id={$data['as_id']}&Type=Options" target="OnlineShopCategoriesOptionsSetting" description="Manage Category Product Options"}
        					</td>
   					 </tr>
					{tmpl_if ss_optionExists('Shop Discount Codes') }
        				<tr>
        					<td>&nbsp;</td>
        					<td><img src="Images/arrow-left.gif" width="11" height="5"></td>
        					<td class="bottomDot">{tmpl_admin_config_link_tab label="Manage Discount Groups" url="index.php?act=ShopSystem_DiscountGroupsAdministration.List&as_id={$data['as_id']}" target="OnlineShopDiscountGroups" description="Manage Discount Groups"}</td>
        					</tr>
        				<tr>
        					<td>&nbsp;</td>
        					<td><img src="Images/arrow-left.gif" width="11" height="5"></td>
        					<td class="bottomDot">{tmpl_admin_config_link_tab label="Manage Discount Codes" url="index.php?act=ShopSystem_DiscountCodesAdministration.List&as_id={$data['as_id']}" target="OnlineShopDiscountCodes" description="Manage Discount Codes"}</td>
        					</tr>
        			{/tmpl_if}
                    {tmpl_if ss_optionExists('Shop Non-NZD Currencies') }
        				<tr>
        					<td>&nbsp;</td>
        					<td><img src="Images/arrow-left.gif" width="11" height="5"></td>
        					<td class="bottomDot">{tmpl_admin_config_link id="CurrencySettings" description="Currency Settings"}</td>
   					 </tr>
        			{/tmpl_if}
					{tmpl_if ss_optionExists('Shop Quick Order List') }
        				<tr>
        					<td>&nbsp;</td>
        					<td><img src="Images/arrow-left.gif" width="11" height="5"></td>
        					<td class="bottomDot">
								{tmpl_admin_config_link_tab label="Manage Quick Order Categories" url="index.php?act=ShopSystem_QuickOrderCategoriesAdministration.List&as_id={$data['as_id']}" target="OnlineShopQuickOrderCategories" description="Manage Quick Order Categories"}        					
        					</td>
   					 </tr>
        			{/tmpl_if}
   					 <tr>
        					<td>&nbsp;</td>
        					<td><img src="Images/arrow-left.gif" width="11" height="5"></td>
        					<td class="bottomDot">{tmpl_admin_config_link id="SEOSettings" description="Search Engine Optimisation Settings"}</td>
   					 </tr>
   					 <tmpl_if condition="ss_optionExists('Shop Acme Rockets')">
        				<tr>
        					<td>&nbsp;</td>
        					<td><img src="Images/arrow-left.gif" width="11" height="5"></td>
        					<td class="bottomDot">{tmpl_admin_config_link id="PointsPercentages" description="Points Percentages"}</td>
   					 	</tr>   		
   					 </tmpl_if>

        				</table></div>
           			 </td>
           		 </tr>
          	</table></td>
	</tr>
</table>
{tmpl_if ss_optionExists('Shop Gallery') }
<div id="ShopGallery" style="display:none;">
<FIELDSET TITLE="ShopGallery">
	<LEGEND>Shop Gallery</LEGEND>
<table>
    <TR>
    	<TD>Gallery Page Title :</TD>
        <TD>{tmpl_fieldset_field fieldset="FieldSet" field="AST_SHOPSYSTEM_GALLERY_PAGE_TITLE"}</TD>
    </TR>
    <TR>
    	<TD>Thumbnail Image Width :</TD>
        <TD>{tmpl_fieldset_field fieldset="FieldSet" field="AST_SHOPSYSTEM_GALLERY_THUMBNAIL_WIDTH"}</TD>
    </TR>
    <TR>
    	<TD>Thumbnail Image Height :</TD>
        <TD>{tmpl_fieldset_field fieldset="FieldSet" field="AST_SHOPSYSTEM_GALLERY_THUMBNAIL_HEIGHT"}</TD>
    </TR>
    <TR>
    	<TD>Images Per Row :</TD>
        <TD>{tmpl_fieldset_field fieldset="FieldSet" field="AST_SHOPSYSTEM_GALLERY_IMAGES_PER_ROW"}</TD>
    </TR>
    <TR>
    	<TD>Rows Per Page :<BR><SMALL>(Leave blank to display all gallery images on a single page)</SMALL></TD>
        <TD>{tmpl_fieldset_field fieldset="FieldSet" field="AST_SHOPSYSTEM_GALLERY_ROWS_PER_PAGE"}</TD>
    </TR>
    <TR>
    	<TD>Popup Width :</TD>
        <TD>{tmpl_fieldset_field fieldset="FieldSet" field="AST_SHOPSYSTEM_GALLERY_POPUP_WIDTH"}</TD>
    </TR>
    <TR>
    	<TD>Popup Height :</TD>
    	<TD>{tmpl_fieldset_field fieldset="FieldSet" field="AST_SHOPSYSTEM_GALLERY_POPUP_HEIGHT"}</TD>
    </TR>
</table>
</FIELDSET>
</div>
{/tmpl_if}
<div id="ProductAttributes" style="display:none;">
{tmpl_fieldset_field fieldset="FieldSet" field="AST_SHOPSYSTEM_ATTRIBUTES"}
</div>
<div id="ProductOptions" style="display:none;">
{tmpl_fieldset_field fieldset="FieldSet" field="AST_SHOPSYSTEM_PRODUCT_OPTIONS"}
</div>
{tmpl_if ss_optionExists('Sell Products') }
<div id="NotificationSettings" style="display:none;">
<FIELDSET TITLE="Notification">
	<LEGEND>Notification</LEGEND>
	<TABLE CELLPADDING="2">
		<TR><TH ALIGN="LEFT">Shop Email Address :</TH>			
			<TD VALIGN="MIDDLE">
				{tmpl_fieldset_field fieldset="FieldSet" field="AST_SHOPSYSTEM_ADMINEMAIL"}								
			</TD>
		</TR>
<?php 
	$webpaySetting = ss_getWebPaymentConfiguration();
	if ($webpaySetting['UseCheque']) {
?>
		<TR><TH ALIGN="LEFT" valign="top">Cheque Payment - Client Email Body :</TH>			
			<TD VALIGN="top">
				You may use the following codes..<BR>
					<TABLE BORDER="0">
						<TR><TD>[OrderNumber]       </TD><TD>= Order Number</TD></TR>
						<TR><TD>[P.<I>FieldName</I>]</TD><TD>= <I>FieldName</I> from purchaser details</TD></TR>
						<TR><TD>[S.<I>FieldName</I>]</TD><TD>= <I>FieldName</I> from shipping details</TD></TR>
						<TR><TD>[OrderDetails]      </TD><TD>= Details of products ordered</TD></TR>
						<TR><TD>[Address]           </TD><TD>= Address to send cheque to</TD></TR>
						<TR><TD>[PayableTo]         </TD><TD>= Name to make cheque payable to</TD></TR>
						<TR><TD>[TotalCharge]       </TD><TD>= Total charge for the order</TD></TR>						
					</TABLE>
					<P>
						If you would like to reset this to the default email for cheque orders, click this button:
						<INPUT CLASS="adminButtons" TYPE="BUTTON" ONCLICK="HTMLArea_AST_SHOPSYSTEM_CLIENT_CHEQUEEMAIL.setHTML('{tmpl_var_js DefaultEmailCheque}')" VALUE="Use Default Email">
					</P>
			</TD>
		</TR>
		<TR>
			<TD>&nbsp;</TD>
			<TD VALIGN="top">
				{tmpl_fieldset_field fieldset="FieldSet" field="AST_SHOPSYSTEM_CLIENT_CHEQUEEMAIL"}								
			</TD>
		</TR>
<?php 
	} 
	if ($webpaySetting['UseDirect']) {
?>
	<TR><TH ALIGN="LEFT" valign="top">Direct Payment - Client Email Body :</TH>
			<TD VALIGN="top">
				You may use the following codes..<BR>
					<TABLE BORDER="0">
						<TR><TD>[OrderNumber]       </TD><TD>= Order Number</TD></TR>
						<TR><TD>[P.<I>FieldName</I>]</TD><TD>= <I>FieldName</I> from purchaser details</TD></TR>
						<TR><TD>[S.<I>FieldName</I>]</TD><TD>= <I>FieldName</I> from shipping details</TD></TR>
						<TR><TD>[OrderDetails]      </TD><TD>= Details of products ordered</TD></TR>
						<TR><TD>[AccountName]           </TD><TD>= Account Name</TD></TR>
						<TR><TD>[AccountNumber]         </TD><TD>= Account Number</TD></TR>
						<TR><TD>[AccountNote]         </TD><TD>= Note</TD></TR>
						<TR><TD>[TotalCharge]       </TD><TD>= Total charge for the order</TD></TR>						
					</TABLE>
					<P>
						If you would like to reset this to the default email for direct payment orders, click this button:
						<INPUT CLASS="adminButtons" TYPE="BUTTON" ONCLICK="HTMLArea_AST_SHOPSYSTEM_CLIENT_DIRECTEMAIL.setHTML('{tmpl_var_js DefaultEmailDirect}')" VALUE="Use Default Email">
					</P>
			</TD>
		</TR>
		<TR>
			<TD>&nbsp;</TD>
			<TD VALIGN="top">
				{tmpl_fieldset_field fieldset="FieldSet" field="AST_SHOPSYSTEM_CLIENT_DIRECTEMAIL"}
			</TD>
		</TR>
<?php
	}
    if ($webpaySetting['UseInvoice']) {
?>
	<TR><TH ALIGN="LEFT" valign="top">Invoice Payment - Client Email Body :</TH>
			<TD VALIGN="top">
				You may use the following codes..<BR>
					<TABLE BORDER="0">
						<TR><TD>[OrderNumber]       </TD><TD>= Order Number</TD></TR>
						<TR><TD>[P.<I>FieldName</I>]</TD><TD>= <I>FieldName</I> from purchaser details</TD></TR>
						<TR><TD>[S.<I>FieldName</I>]</TD><TD>= <I>FieldName</I> from shipping details</TD></TR>
						<TR><TD>[OrderDetails]      </TD><TD>= Details of products ordered</TD></TR>
						<TR><TD>[TotalCharge]       </TD><TD>= Total charge for the order</TD></TR>
					</TABLE>
					<P>
						If you would like to reset this to the default email for invoice payment orders, click this button:
						<INPUT CLASS="adminButtons" TYPE="BUTTON" ONCLICK="HTMLArea_AST_SHOPSYSTEM_CLIENT_INVOICEEMAIL.setHTML('{tmpl_var_js DefaultEmailInvoice}')" VALUE="Use Default Email">
					</P>
			</TD>
		</TR>
		<TR>
			<TD>&nbsp;</TD>
			<TD VALIGN="top">
				{tmpl_fieldset_field fieldset="FieldSet" field="AST_SHOPSYSTEM_CLIENT_INVOICEEMAIL"}
			</TD>
		</TR>
<?php
	}
	if ($webpaySetting['UseCreditCard']) {
?>
		<TR>
			<TH ALIGN="LEFT" valign="top"><?=$webpaySetting['CreditCardSetting']['ProcessorDisplayName']?> Transaction<BR> Client Email Body :</TH>
			<TD>You may use the following codes..<BR>
					<TABLE BORDER="0">
						<TR><TD>[OrderNumber]       </TD><TD>= Order Number</TD></TR>
						<TR><TD>[P.<I>FieldName</I>]</TD><TD>= <I>FieldName</I> from purchaser details</TD></TR>
						<TR><TD>[S.<I>FieldName</I>]</TD><TD>= <I>FieldName</I> from shipping details</TD></TR>
						<TR><TD>[OrderDetails]      </TD><TD>= Details of products ordered</TD></TR>
						<TR><TD>[TotalCharge]       </TD><TD>= Total charge for the order</TD></TR>
					</TABLE>
					<P>
						If you would like to reset this to the default email for credit card orders, click this button:
						<INPUT CLASS="adminButtons" TYPE="BUTTON" ONCLICK="HTMLArea_AST_SHOPSYSTEM_CLIENT_CREDITCARDEMAIL.setHTML('{tmpl_var_js DefaultEmailCredit}')" VALUE="Use Default Email">
					</P>
			</TD>						
		</TR>		
		<TR>
			<TD>&nbsp;</TD>
			<TD VALIGN="top">
				{tmpl_fieldset_field fieldset="FieldSet" field="AST_SHOPSYSTEM_CLIENT_CREDITCARDEMAIL"}								
			</TD>
		</TR>

		<TR>
			<TH ALIGN="LEFT" valign="top"><?=$webpaySetting['CreditCardSetting']['ProcessorDisplayName']?> Transaction<BR> Overspend <br /> Email Body :</TH>
			<TD>You may use the same codes as above..<BR>
			</TD>						
		</TR>		
		<TR>
			<TD>&nbsp;</TD>
			<TD VALIGN="top">
				{tmpl_fieldset_field fieldset="FieldSet" field="AST_SHOPSYSTEM_CLIENT_NEW_OVERSPEND_EMAIL"}								
			</TD>
		</TR>

		<TR>
			<TH ALIGN="LEFT" valign="top"><?=$webpaySetting['CreditCardSetting']['ProcessorDisplayName']?> Transaction<BR> Shipping Not Billing<br /> Email Body :</TH>
			<TD>You may use the same codes as above..<BR>
			</TD>						
		</TR>		
		<TR>
			<TD>&nbsp;</TD>
			<TD VALIGN="top">
				{tmpl_fieldset_field fieldset="FieldSet" field="AST_SHOPSYSTEM_CLIENT_NEW_SHIPBILLDIFF_EMAIL"}								
			</TD>
		</TR>
		<TR>
			<TH ALIGN="LEFT" valign="top"><?=$webpaySetting['CreditCardSetting']['ProcessorDisplayName']?> Transaction<BR> Orders too close together<br /> Email Body :</TH>
			<TD>You may use the same codes as above..<BR>
			</TD>						
		</TR>		
		<TR>
			<TD>&nbsp;</TD>
			<TD VALIGN="top">
				{tmpl_fieldset_field fieldset="FieldSet" field="AST_SHOPSYSTEM_CLIENT_NEW_CLOSE_ORDER_EMAIL"}								
			</TD>
		</TR>
		<TR>
			<TH ALIGN="LEFT" valign="top"><?=$webpaySetting['CreditCardSetting']['ProcessorDisplayName']?> Transaction<BR> Card Charged<br /> Email Body :</TH>
			<TD>You may use the same codes as above..<BR>
			</TD>						
		</TR>		
		<TR>
			<TD>&nbsp;</TD>
			<TD VALIGN="top">
				{tmpl_fieldset_field fieldset="FieldSet" field="AST_SHOPSYSTEM_CLIENT_CARDCHARGED_EMAIL"}								
			</TD>
		</TR>		<TR>
			<TH ALIGN="LEFT" valign="top"><?=$webpaySetting['CreditCardSetting']['ProcessorDisplayName']?> Transaction<BR> Card Denied<br /> Email Body :</TH>
			<TD>You may use the same codes as above..<BR>
			</TD>						
		</TR>		
		<TR>
			<TD>&nbsp;</TD>
			<TD VALIGN="top">
				{tmpl_fieldset_field fieldset="FieldSet" field="AST_SHOPSYSTEM_CLIENT_CARDDENIED_EMAIL"}								
			</TD>
		</TR>


<?php 
	} 
?>
<?php 
	
	if (ss_optionExists('Shop Order Confirmation Email')) {
?>
		<TR>
			<TH ALIGN="LEFT" valign="top">Order Confirmation Email :</TH>			
			<TD>This email is sent when the order has been paid. You may use the following codes..<BR>
					<TABLE BORDER="0">
						<TR><TD>[OrderNumber]       </TD><TD>= Order Number</TD></TR>
						<TR><TD>[P.<I>FieldName</I>]</TD><TD>= <I>FieldName</I> from purchaser details</TD></TR>
						<TR><TD>[S.<I>FieldName</I>]</TD><TD>= <I>FieldName</I> from shipping details</TD></TR>
						<TR><TD>[SpecialNote]		</TD><TD>= A special note added to the confirmation email</TD></TR>
					</TABLE>
				If you would like a copy of the confirmation email sent to the shop admin, please tick this box: {tmpl_fieldset_field fieldset="FieldSet" field="AST_SHOPSYSTEM_SEND_CONFIRMATION_CC"}					
			</TD>						
		</TR>
		<TR>
			<TD>&nbsp;</TD>
			<TD VALIGN="top">
				{tmpl_fieldset_field fieldset="FieldSet" field="AST_SHOPSYSTEM_CLIENT_CONFIRMATION_EMAIL"}								
			</TD>
		</TR>
<?php 
	} 
?>
<?php 
	
	if (ss_optionExists('Shop Product Stock Notifications')) {
?>
		<TR>
			<TH ALIGN="LEFT" valign="top">Product Back In Stock Email:</TH>			
			<TD>This email is sent when a product that was out of stock has come back in stock again.  You may use the following codes..<BR>
				<TABLE BORDER="0">
					<TR><TD>[first_name]	</TD><TD>= The first name of the customer</TD>
					<TR><TD>[ProductName]       </TD><TD>= Name of the product</TD></TR>
					<TR><TD>[BoxCode]       </TD><TD>= Code of the product</TD></TR>
					<TR><TD>[Price]       </TD><TD>= Price of the product</TD></TR>
				</TABLE>
			</TD>						
		</TR>
		<TR>
			<TD>&nbsp;</TD>
			<TD VALIGN="top">
				{tmpl_fieldset_field fieldset="FieldSet" field="AST_SHOPSYSTEM_STOCK_NOTIFICATION_EMAIL"}								
			</TD>
		</TR>
<?php 
	} 
?>
	</TABLE>
</FIELDSET>
</div>
<?php 
if (ss_optionExists('Shop Non-NZD Currencies')) {
?>
<div id="CurrencySettings" style="display:none;">
<FIELDSET TITLE="Currency Settings">
	<LEGEND>Currency Setting</LEGEND>
	<TABLE CELLPADDING="2" cellpadding="0" cellspacing="0" align="center">		
		<TR>			
			<TD>
				Enter prices in {tmpl_fieldset_field fieldset="FieldSet" field="AST_SHOPSYSTEM_ENTER_CURRENCY"} with {tmpl_fieldset_field fieldset="FieldSet" field="AST_SHOPSYSTEM_ENTER_CURRENCY_SYMBOL"} appearing {tmpl_fieldset_field fieldset="FieldSet" field="AST_SHOPSYSTEM_ENTER_CURRENCY_SYMBOL_POS"}
			</TD>
		</TR>	
		<TR>			
			<TD>
				Display prices in {tmpl_fieldset_field fieldset="FieldSet" field="AST_SHOPSYSTEM_DISPLAY_CURRENCY"} with {tmpl_fieldset_field fieldset="FieldSet" field="AST_SHOPSYSTEM_DISPLAY_CURRENCY_SYMBOL"} appearing {tmpl_fieldset_field fieldset="FieldSet" field="AST_SHOPSYSTEM_DISPLAY_CURRENCY_SYMBOL_POS"}
			</TD>
		</TR>	
</TABLE>
</FIELDSET>
</div>
<?php } ?>
<div id="ThankYouPageSettings" style="display:none;">
<FIELDSET TITLE="Edit Thank You Page" STYLE="height: 200px">
	<LEGEND>Thank You Page</LEGEND>
	<TABLE CELLPADDING="2" cellpadding="0" cellspacing="0" align="center">		
		<TR>			
			<TD>
				{tmpl_fieldset_field fieldset="FieldSet" field="AST_SHOPSYSTEM_THANKYOU_CONTENT"}								
			</TD>
		</TR>	
</TABLE>
</FIELDSET>
</div>
<div id="InvoicingSettings" style="display:none;">
<FIELDSET TITLE="Invoicing" STYLE="height: 160px">
	<LEGEND>Order/Invoice</LEGEND>
	<TABLE CELLPADDING="0">
		<TR>
			<TH ALIGN="LEFT" VALIGN="TOP" width="25%">Shipping Detail Fields :</TH>
			<TH ALIGN="LEFT" VALIGN="TOP" width="25%">Required Shippping Detail Fields :</TH>
<?php
    if (ss_optionExists('Shop Customer Select Fields')) {
        echo '<TH ALIGN="LEFT" VALIGN="TOP" width="25%">Customer Fields :</TH>';
    }
?>
			<TH ALIGN="LEFT" VALIGN="TOP" width="25%">Required Customer Fields :</TH>
		</TR>
		<TR valign="top">
			<TD>
			Please select the User details that form the shipping details of a customer.<BR>
			</TD>
			<TD>
			Please select the User details that should be forced as required for the shipping details of a customer.<BR>
			</TD>
<?php if (ss_optionExists('Shop Customer Select Fields')) {  ?>
			<TD>
			Please select the User details that form the saved details of a customer.<BR>
			</TD>
<?php } ?>
			<TD>
			Please select the User details that should be forced as required for a customers details.<BR>
			</TD>
		</TR>
		<TR valign="top">
			<TD>
			{tmpl_fieldset_field fieldset="FieldSet" field="AST_SHOPSYSTEM_ADDRESSFIELDS"}
			</TD>
			<TD>
			{tmpl_fieldset_field fieldset="FieldSet" field="AST_SHOPSYSTEM_SHIPPING_REQUIREDFIELDS"}
			</TD>
<?php if (ss_optionExists('Shop Customer Select Fields')) {  ?>
			<TD>
			{tmpl_fieldset_field fieldset="FieldSet" field="AST_SHOPSYSTEM_CUSTOMER_FIELDS"}
			</TD>
<?php } ?>
			<TD>
			{tmpl_fieldset_field fieldset="FieldSet" field="AST_SHOPSYSTEM_REQUIREDFIELDS"}
			</TD>
		</TR>
        <tr>
            <td colspan="4">
                <strong>Invoice Thank You Note :</strong><BR>
                Note: This will be displayed at the bottom of your invoices.<BR>
                {tmpl_fieldset_field fieldset="FieldSet" field="AST_SHOPSYSTEM_THANKYOUNOTE"}
			</TD>
		</TR>
		<tmpl_if condition="ss_OptionExists('Shop Advanced Ordering')">
		<TR>
			<TH ALIGN="LEFT" VALIGN="TOP" width="35%">Supplier discount:</TH>
		</TR>
		<TR>
			<TD>

			{tmpl_fieldset_field fieldset="FieldSet" field="AST_SHOPSYSTEM_SUPPLIER_DISCOUNT"}%
			</TD>
		</TR>
		</tmpl_if>
</TABLE>
</FIELDSET>
</div>
<div id="CustomerUserGroups" style="display:none;">
<FIELDSET TITLE="Customer User Groups">
	<LEGEND>Customer User Groups</LEGEND>
	<TABLE CELLPADDING="2">
		<TR>
			<TH ALIGN="LEFT" VALIGN="TOP" width="35%">User Groups: </TH>
			<TH ALIGN="LEFT" VALIGN="TOP">Checkout Newsletter Registration Field: </TH>			
		</TR>
		<TR>
			
			<TD valign="top">
			Please select the user groups that customers will be addded to after placing an order.<BR>
			{tmpl_fieldset_field fieldset="FieldSet" field="AST_SHOPSYSTEM_CUSTOMER_USERGROUPS"}					
			</TD>			
			<TD valign="top">				
				Please leave this field blank if you do not want to offer newsletter registration in the checkout page.<BR>
				{tmpl_fieldset_field fieldset="FieldSet" field="AST_SHOPSYSTEM_NEWSLETTER_QUESTION"}<BR>
				Please select the mailing lists offered in the checkout page.<BR>
				{tmpl_fieldset_field fieldset="FieldSet" field="AST_SHOPSYSTEM_NEWSLETTER_USERGROUPS"}
			</TD>
		</TR>
		<? if (ss_optionExists('Shop Restricted Order Access')) { ?>
		<TR>
			
			<TD valign="top">
			Please select the user groups that will only have restricted access to orders.<BR>
			{tmpl_fieldset_field fieldset="FieldSet" field="AST_SHOPSYSTEM_RESTRICTED_ORDER_ACCESS_USERGROUPS"}					
			</TD>			
		</TR>
		<? } ?>
</TABLE>
</FIELDSET>
</div>
<div id="SEOSettings" style="display:none;">
<FIELDSET TITLE="Search Engine Optimisation Settings">
	<LEGEND>Search Engine Optimisation Settings</LEGEND>
	<TABLE CELLPADDING="2">
		<TR><TH VALIGN="TOP" ALIGN="LEFT">Product Window Title Template :</TH>			
			<TD VALIGN="MIDDLE">
				Use [SiteName] and [Product] tags within the template to display their respective values. e.g: "[SiteName] - [Product]"<br />
				{tmpl_fieldset_field fieldset="FieldSet" field="AST_SHOPSYSTEM_PRODUCT_WINDOW_TITLE_TEMPLATE"}								
			</TD>
		</TR>
		<TR><TH VALIGN="TOP" ALIGN="LEFT">Category Window Title Template :</TH>			
			<TD VALIGN="MIDDLE">
				Use [SiteName] and [Category] tags within the template to display their respective values. e.g: "[SiteName] - [Category]"<br />
				{tmpl_fieldset_field fieldset="FieldSet" field="AST_SHOPSYSTEM_CATEGORY_WINDOW_TITLE_TEMPLATE"}								
			</TD>
		</TR>
	</TABLE>
</FIELDSET>
</div>
<tmpl_if condition="ss_optionExists('Shop Acme Rockets')">
<div id="PointsPercentages" style="display:none;">
<FIELDSET TITLE="Points Percentages">
	<LEGEND>Points Percentages</LEGEND>
	<p style="padding:5px;">
		Please enter the percentage of points that customers should receive.  E.g. 100% indicates that a customer should get 1 point per euro spent.
	</p>
	<TABLE CELLPADDING="2">
		<TR><TH VALIGN="TOP" ALIGN="LEFT">Frequent Flyer Program Customer :</TH>			
			<TD VALIGN="MIDDLE">{tmpl_fieldset_field fieldset="FieldSet" field="AST_SHOPSYSTEM_LEVEL0_PERCENTAGE"}%</TD></TR>
		<TR><TH VALIGN="TOP" ALIGN="LEFT">Direct Referral Customer :</TH>			
			<TD VALIGN="MIDDLE">{tmpl_fieldset_field fieldset="FieldSet" field="AST_SHOPSYSTEM_LEVEL1_PERCENTAGE"} points</TD></TR>
		<TR><TH VALIGN="TOP" ALIGN="LEFT">Level 2 Referral Customer :</TH>			
			<TD VALIGN="MIDDLE">{tmpl_fieldset_field fieldset="FieldSet" field="AST_SHOPSYSTEM_LEVEL2_PERCENTAGE"} points</TD></TR>
		<TR><TH VALIGN="TOP" ALIGN="LEFT">Level 3 Referral Customer :</TH>			
			<TD VALIGN="MIDDLE">{tmpl_fieldset_field fieldset="FieldSet" field="AST_SHOPSYSTEM_LEVEL3_PERCENTAGE"} points</TD></TR>
		<TR><TH VALIGN="TOP" ALIGN="LEFT">Level 4 Referral Customer :</TH>			
			<TD VALIGN="MIDDLE">{tmpl_fieldset_field fieldset="FieldSet" field="AST_SHOPSYSTEM_LEVEL4_PERCENTAGE"} points</TD></TR>
	</TABLE>
</FIELDSET>
</div>
</tmpl_if>
{tmpl_end}
