<TABLE cellpadding="5" width="400" cellspacing="0">
<tr>
<td>
</td>
</tr>
<tr>
<td>
<!-- BEGIN: Constant Contact Stylish Email Newsletter Form --> 
<div>
<form name="ccoptin" action="http://visitor.constantcontact.com/d.jsp" target="_blank" method="post" style="margin-bottom:3;">
	<span style="background-color: #660000; float:right;margin-right:5;margin-top:3">
		<img src="http://img.constantcontact.com/ui/images1/visitor/email2_trans.gif" alt="Email Newsletter icon, E-mail Newsletter icon, Email List icon, E-mail List icon" border="0">
	</span>
	<font style="font-weight: bold; font-family:Arial,Helvetica,sans-serif; font-size:13px; color:#000000;">Be the first to know .  Email me the weekly Specials.</font>
	<input type="text" name="ea" size="20" style="font-family:Verdana,Geneva,Arial,Helvetica,sans-serif; font-size:10px; border:1px solid #999999;"
	<?php
		if( array_key_exists( 'User', $_SESSION )
		 && array_key_exists( 'us_email', $_SESSION['User'] ) )
		 	echo " value=\"".$_SESSION['User']['us_email']."\"";
	?>
	>
	<input type="submit" name="go" value="GO" class="submit"  style="font-family:Verdana,Arial,Helvetica,sans-serif; font-size:10px;">
	<input type="hidden" name="m" value="1101883814564">
	<input type="hidden" name="p" value="oi">
</form>
</div>
<!-- END: Constant Contact Stylish Email Newsletter Form -->
<!-- BEGIN: SafeSubscribe -->
<div align="center" style="padding-top:5px;">
<a href="http://www.constantcontact.com/safesubscribe.jsp" target="_blank"><img src="http://img.constantcontact.com/ui/images1/safe_subscribe_logo.gif" border="0" width="168" height="14" alt=""/></a>
</div>
<!-- END: SafeSubscribe -->
<!-- BEGIN: Email Marketing you can trust -->
<div align="center" style="font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#999999;"> For
<a href="http://www.constantcontact.com/index.jsp" style="text-decoration:none;font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#999999;" target="_blank">Email Marketing</a> you can trust
</div>
<!-- END: Email Marketing you can trust -->
</td>
</tr>
<TR>
<TD>
<p class="textHeading"><br/><p><span style="font-weight: bold;">Thank you for your order.</span></p><br/><p>Customer Support (Including Emails): Monday through Friday 9am to 8pm, (Spain Time)</p><p>
<br/></p><p>Your order will be processed and shipped as quickly as possible.  Delivery is, on average, between 5 to 21 business days. It is rare for a parcel to take 21 days, but there are  some circumstances that can cause longer than normal delivery times,  public holidays for example. At Christmas time delivery may take up to 40 days.</p><br/><p>Should you have a query, please read the <a href="Acme Express/Faq And Shipping Info">FAQ page</a> on our website. If this does not answer your question, please <a href="Issue Tracker/Shipping">contact us</a>.</p><br/><p>You may use the <a href="Members">Members Page</a> to see your orders and check on shipping status.<br /></p><p>Please let us know when you receive your order.<br /><br />Thank you for your business. Be sure to visit our site again!</p>
</TD>
</TR>
<TR>
<TD align="right"><BR>
<table border="0" cellpadding="5" cellspacing="0" class="onlineShopShopProgressBarTable">
<tr align="center">
<td class="onlineShopShopProgressBarCell">1 - Checkout</td>
<td class="onlineShopShopProgressBarCell">2 - Payment</td>
<td class="onlineShopShopProgressBarON">3 - Finished</td>
</tr>
</table>
</TD>
</TR>
</table>
